.main-grid {
	display: grid;
	grid-template-columns:
		[full-width-start] 0px
		[content-start] 1fr
		[content-end] 0px
		[full-width-end];

	gap: 2em;

	& > .full-width {
		grid-column: full-width;
	}
	& > .content {
		grid-column: content;
	}
}
