/* Used on body to provide layout for the page */
.main-grid {
	display: grid;
	grid-template-columns:
		[full-width-start] 0px
		[content-start] 1fr
		[content-end] 0px
		[full-width-end];

	gap: 0 2em;
}
/* used to pass columns to child elements */
.subgrid {
	display: grid;
	grid-template-columns: subgrid;
}
/* enables child elements to have their columns set */
.subgrid,
.main-grid {
	& > .full-width {
		grid-column: full-width;
	}
	& > .content {
		grid-column: content;
	}
}
/* media queries for tablets and larger */
@media (width >= 768px) {
	.main-grid,
	.subgrid {
		& > .narrow--to-content {
			grid-column: content;
		}
	}
	.main-grid {
		gap: 0 2.5em;
	}

	.center {
		grid-column: content;
		justify-self: center;
	}
	.py-medium {
		padding: 2.5em 0;
	}
}
