thead,
tbody,
table,
tbody tr {
	/* probably should have used a grid... */
	display: flex;
}

table {
	/* layout */
	width: 100%;
	border-collapse: collapse;
	align-items: center;

	/* typography */
	text-align: left;
}

th,
td {
	/* layout */
	display: block;
	padding: 0.75em 0 0.75em 2em;
}

tbody tr {
	/* layout */
	flex-direction: column;
}

thead,
tbody,
tr,
td {
	/* layout */
	/* flex: grow 1 shrink 1 basis 0; */
	flex: 1;
}
