thead,
tbody,
table,
tbody tr {
	display: flex;
}

table {
	/* layout */
	width: 100%;
	border-collapse: collapse;
	align-items: center;
	/* typography */
	text-align: left;
}

th,
td {
	/* layout */
	padding: 0.5em;
	display: block;
	padding: 0.75em 0 0.75em 2em;
}

tbody tr {
	/* layout */
	flex-direction: column;
}

thead,
tbody,
tr,
td {
	/* layout */
	flex: 1;
}
