@import url("@styles/layout.css") layer(layout);
@import url("@styles/reset.css") layer(reset);
@import url("@styles/table.css") layer(layout.table);
@import url("@styles/utilities.css") layer(utilities);
@layer reset, base, layout, utilities;

@layer base {
	@font-face {
		font-family: "Young Serif";
		src: url("@fonts/young-serif/YoungSerif-Regular.ttf") format(truetype);
	}

	@font-face {
		font-family: "Outfit";
		src: url("@fonts/outfit/Outfit-Regular.ttf") format(truetype);
	}
	:root {
		/* colors */
		--white: hsl(0, 0%, 100%);

		--stone-100: hsl(30, 54%, 90%);
		--stone-150: hsl(30, 18%, 87%);
		--stone-600: hsl(30, 10%, 34%);
		--stone-900: hsl(24, 5%, 18%);

		--brown-800: hsl(14, 45%, 36%);

		--rose-800: hsl(332, 51%, 32%);
		--rose-50: hsl(330, 100%, 98%);

		/* spacing */
		--gap-xsmall: 1rem;
		--gap-small: 1.5rem;
		--gap-medium: 2rem;
		--gap-large: 2.5rem;

		/* border radius */
		--border-radius-medium: 0.75em;
		--border-radius-large: 1.5em;
	}

	body {
		/* typography */
		font-family: "Young Serif", serif;
		font-weight: 400;
		color: var(--stone-600);
	}

	strong,
	ol::marker {
		/* typography */
		font-weight: 700;
	}

	.header-title {
		/* typography */
		color: var(--stone-900);
		font-size: 2.25rem;
		font-weight: 400;
	}

	.header-paragraph {
		/* typography */
		font-size: 1rem;
		font-family: "Outfit", serif;
	}

	.preperation {
		background-color: var(--rose-50);
	}

	.preperation-title {
		/* typography */
		font-size: 1.25rem;
		color: var(--rose-800);
		font-weight: 600;
	}

	.section-title {
		/* typography */
		font-weight: 400;
		font-size: 1.75rem;
		color: var(--brown-800);
	}

	.list-item,
	th,
	td {
		/* typography */
		line-height: 1.5;
	}

	li::marker,
	td {
		/* typography */
		color: var(--brown-800);
	}
	li ~ li {
		/* layout */
		margin: 0.5em 0;
	}

	/* Media queries */
	/* tablet */
	@media (min-width: 768px) {
		html {
			background-color: var(--stone-100);
		}

		body {
			max-width: 616px;
			background-color: white;
		}
		.header-title {
			font-size: 2.5rem;
		}

		.section-title {
			font-size: 2.25rem;
		}

		.list-item {
			font-size: 1.125rem;
		}
	}
	/* desktop */
	@media (min-width: 1024px) {
		body {
			max-width: 736px;
		}
	}
}
