@font-face {
	font-family: "Young Serif";
	src: url("@assets/fonts/young-serif/YoungSerif-Regular.ttf") format(truetype);
}

@font-face {
	font-family: "Outfit";
	src: url("@assets/fonts/young-serif/Outfit-VariableFont_wght.ttf")
		format(truetype);
}

body {
	font-family: "Young-serif", serif;
	font-weight: 400;
}

strong {
	font-weight: 700;
}

.header-title {
	font-size: 2.25rem;
	font-weight: 400;
}

.header-paragraph {
	font-size: 1rem;
	font-family: "Outfit", serif;
}

.preperation-title {
	font-size: 1.25rem;
	font-weight: 600;
}

.section-title {
	font-weight: 400;
	font-size: 1.75rem;
}

.list-item {
	line-height: 1.5;
}
